<div class="dashboard">
  <h2>Welcome, {{ user?.username }}!</h2>

  <div *ngIf="user">
    <p><strong>CIF Number:</strong> {{ user.cifNumber }}</p>
    <p><strong>AccountId:</strong> {{ user.accountId}}</p>
  </div>

  <div *ngIf="account$ | async as account; else loading">
    <p><strong>Account Balance:</strong> {{ account.balance | currency }}</p>
  </div>

  <ng-template #loading>
    <p>Loading account info...</p>
  </ng-template>

  <button (click)="logout()" routerLink="/login">Logout</button>
</div>
